<mat-card class="container">
  <mat-card-content class="signup">
    <div class="h2">Sign Up</div>
    <form [formGroup]="signupForm">
      <mat-form-field>
        <input matInput formControlName="firstName" type="text" placeholder="First Name" required/>
        <mat-error>
          *First Name Is Required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="lastName" type="text" placeholder="Last Name" required/>
        <mat-error>
          *Last Name Is Required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="email" type="text" placeholder="Email" required/>
        <mat-error>
          *Email Is Required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="password" type="text" placeholder="Password" required/>
        <mat-error>
          *Password Is Required
        </mat-error>
      </mat-form-field>
      <button (click)="onSignup()" type="submit">
        Sign Up
      </button>
      <div class="signup-login">
      Already have an account?
      <a id="forget" routerLink="/login">Login</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
