<div class="container">
  <mat-card class="forgot-password">
    <mat-card-header class="h3">Forget your password?</mat-card-header>
    <mat-card-content class="h6">
      Please provide your E-mail we will send the reset link
    </mat-card-content>
    <form [formGroup]="forgotPassword">
      <mat-form-field>
        <input matInput formControlName="email" type="text" placeholder="Email" required />
      </mat-form-field>
    </form>
    <button (click)="confirmToSend()" mat-raised-button color="primary">Send</button>
  </mat-card>
</div>
