<mat-card class="container">
  <mat-card-content class="picker">
    <div class="h2">Choose Taskboard</div>
    <form [formGroup]="loginForm" (ngSubmit)="onTaskboardLogin()">
      <mat-form-field>
        <mat-label>Choose Taskboard</mat-label>
        <mat-select formControlName="taskboardName">
          <mat-option *ngFor="let taskboard of taskboards" [value]="taskboard.taskboardName">
            {{ taskboard.taskboardName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <span class="password">
          <input matInput formControlName="taskboardPassword" [type]="type" placeholder="Password">
          <button type="button" (click)="hideShowPassword()" class="" style="border:none;">
            <span class="material-icons">{{ eyeIcon }}</span>
          </button>
        </span>
        <mat-error>
          *Password Is Required
        </mat-error>
      </mat-form-field>
      <button (click)="onTaskboardLogin()" type="submit" class="login-button">
        Login to Taskboard
      </button>
      <div class="">Don't have a taskboard? <a id="forgot" href="#" routerLink="/taskboard-creator">Create One Here</a></div>
    </form>
  </mat-card-content>
</mat-card>
