<div class="container" [ngStyle]="{ 'display': display }" style="height: 0;">
  <mat-card class="warning">
    <mat-card-header class="h1">Give it a Minute</mat-card-header>
    <mat-card-content class="h6">
      It may take around a minute to login. While learning, I am utilizing the free services offered by Azure. Due to
      this
      the app will 'go to sleep' every 20 minutes. So, just give it a minute.
    </mat-card-content>
    <button (click)="hideWarning()" mat-raised-button color="primary">OK</button>
  </mat-card>
</div>
