.taskboard {
  display: flex;
  justify-content: space-around;
  margin: 1rem 1rem 0;
  flex-wrap: wrap;
  gap: 1rem;
}

.task-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  flex-direction: column;
  margin-top: 1rem;

  mat-expansion-panel {
    background-color: transparent;
    padding: 1rem 0;

    &-header {
      padding: 1rem;
    }
  }

  &-task {
    margin-top: 1rem;
    background-color: rgba(94, 101, 114, 0.25);
    border-radius: 5px;
  }

  &-card {
    line-height: 1.5;
  }

  .h2 {
    text-align: center;
  }

}
