<app-new-task (taskAdded)="onTaskAdded()" #newTaskComponent></app-new-task>
<div class="taskboard" cdkDropListGroup>
  <div class="taskboard-status" *ngFor="let status of statuses" cdkDropList [cdkDropListData]="tasks | taskStatusFilter:status" (cdkDropListDropped)="drop($event, status)">
    <div class="h2">{{ status }}</div>
    <div *ngFor="let task of tasks | taskStatusFilter:status" cdkDrag class="taskboard-status-task">
      <mat-accordion multi>
        <mat-expansion-panel [ngStyle]="{ 'border-color': getPriorityColor(task.priority) }" style="border-top: 1px solid">
          <mat-expansion-panel-header class="h6">
            <mat-panel-title> {{ task.title }} </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card class="taskboard-status-task-card">
            <mat-card-content>
              <p>{{ task.description }}</p>
              <p><span>Priority:</span> {{ task.priority }}</p>
              <p><span>Due:</span> {{ task.dueDate | date }}</p>
              <div class="taskboard-status-card-users">
                <mat-list *ngIf="task['taskId'] && taskUserMap[task['taskId']]" style="padding:0;" role="list">
                  <span>Users:&nbsp;</span>
                  <mat-list-item *ngFor="let user of taskUserMap[task['taskId']]" role="listitem">
                    {{ user.firstName }}
                  </mat-list-item>
                </mat-list>
              </div>
              <div class="taskboard-status-card-comments">
                <app-task-comment [taskId]="task.taskId"></app-task-comment>
              </div>
            </mat-card-content>
            <div class="buttons">
              <button mat-icon-button color="warn" (click)="deleteTask(task)" matTooltip="Delete Task"><mat-icon>delete</mat-icon></button>
              <button mat-icon-button color="" (click)="onEditTask(task)" matTooltip="Edit Task"><mat-icon>edit</mat-icon></button>
            </div>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
