.new-task {
  margin-top: 1rem;
  display: flex;
  justify-content: center;

  .h3 {
    justify-content: center;
  }

  &--panel {
    background-color: rgba(94, 101, 114, 0.25);
    width: clamp(350px, 25vw, 30vw);
  }

  &--header {
    background-color: rgba(94, 101, 114, 0.25) !important;
  }

  &--form {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: end;
}
