<mat-card class="container">
  <mat-card-content class="create">
    <div class="h2">Create a New Taskboard</div>
    <form [formGroup]="createTaskboardForm">
      <mat-form-field>
        <input matInput formControlName="taskboardName" type="text" placeholder="Taskboard Name" required/>
        <mat-error>
          *Taskboard Name is Required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <span class="password">
          <input matInput formControlName="taskboardPassword" [type]="type" placeholder="Password">
          <button type="button" (click)="hideShowPassword()" class="" style="border:none;">
            <span class="material-icons">{{ eyeIcon }}</span>
          </button>
        </span>
        <mat-error>
          *Password Is Required
        </mat-error>
      </mat-form-field>
      <button (click)="onCreate()" type="submit" class="signup-button">
        Create Taskboard
      </button>
      <div class="signup-login">
      Already have an Taskboard?
      <a id="forget" routerLink="/taskboard-picker">Choose Taskboard</a>
      </div>
    </form>
    </mat-card-content>
  </mat-card>
