@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #040115;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #EEF1EF;
}

.h1 { font-size: clamp(2.5rem, 5vw, 4rem); }
.h2 { font-size: clamp(2rem, 4vw, 3rem); }
.h3 { font-size: clamp(1.75rem, 3vw, 2.5rem); }
.h4 { font-size: clamp(1.5rem, 2.5vw, 2rem); }
.h5 { font-size: clamp(1.25rem, 2vw, 1.75rem); }
.h6 { font-size: clamp(1rem, 1.5vw, 1.5rem); }




