.comments {
  background-color: rgba(94, 101, 114, 0.25);

  &-comment {

    p {
      margin: 0.25rem 0;
      color: #EEF1EF;
     }

    &--name {
      font-size: clamp(0.75rem, 1.25vw, 1.25rem);
    }
    &--comment {
    }
    &--date {
      font-size: clamp(0.75rem, 1.25vw, 1.25rem);
    }


  }

}
