
<div class="container">
  <div class="login">
  <div>
    <h3>Login</h3>
  </div>
  <div>
    <!-- <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <div class="form-group pt-3">
                <div class="input-field"
                  [class.error]="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">
                  <span class="fa fa-user p-2"></span> <input formControlName="email" type="text"
                    placeholder="Email" required>
                </div>
              </div>
              <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')"
                class="text-danger">*Email is required*</small>
              <div class="form-group pt-3">
                <div class="input-field"
                  [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                  <span class="fa fa-lock px-2"></span> <input formControlName="password" [type]="type"
                    placeholder="Password"> <button type="button" (click)="hideShowPassword()"
                    class="bg-white text-muted" style="border:none;"> <span class="fa {{eyeIcon}}"></span> </button>
                </div>
              </div>
              <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"
                class="text-danger">*Password is required*</small>
              <div class="form-inline fr mt-4"> <a id="forgot" data-bs-toggle="modal"
                  data-bs-target="#forgotPasswordModal" class="font-weight-bold">Forgot password?</a> </div>
              <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>
              <div class="text-center pt-4 text-muted">Don't have an account? <a id="forgot" href="#"
                  routerLink="/signup">Sign up</a> </div>
            </form> -->
  </div>
</div>
</div>
<!-- <div id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel"
  aria-hidden="true">
  <div >
    <div >
      <div >
        <p  id="forgotPasswordModalLabel"> <span style="font-size: 25px;font-weight:700">Forget your
            password?</span><br>
          <small>Please provide your E-mail we will send the reset link</small>
        </p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group pt-3">
          <div class="input-field"> <span class="fa fa-user p-2"></span> <input [(ngModel)]="resetPasswordEmail"
              (ngModelChange)="checkValidEmail($event)" type="text" placeholder="Email"> </div>
        </div>
        <small *ngIf="!resetPasswordEmail" class="text-danger">*Email is required*</small>
        <small *ngIf="!isValidEmail && resetPasswordEmail" class="text-danger">*Email is invalid*</small>
      </div>
      <div class="modal-footer">
        <button id="closeBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="confirmToSend()" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div> -->
