<mat-card class="container">
  <mat-card-content class="login">
    <div class="h2">Login</div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field>
        <input matInput formControlName="email" type="text" placeholder="Email" required />
        <mat-error>
          *Email Is Required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <span class="password">
          <input matInput formControlName="password" [type]="type" placeholder="Password">
          <button type="button" (click)="hideShowPassword()" class="" style="border:none;">
            <span class="material-icons">{{ eyeIcon }}</span>
          </button>
        </span>
        <mat-error>
          *Password Is Required
        </mat-error>
      </mat-form-field>
      <button (click)="onLogin()" type="submit" class="login-button">
        Login
      </button>
      <div class="signup-login">
        Don't an account?
        <a id="forget" routerLink="/signup">Sign Up</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<div class="container" [ngStyle]="{ 'display': display }">
<mat-card class="spinner">
  <mat-card-header class="h1">Give it a Minute</mat-card-header>
  <mat-card-content class="h6">
    It is logging in. While learning, I am using free services. Due to this, the first login will take slightly longer than you may be accustomed to.  </mat-card-content>
  <mat-spinner>
  </mat-spinner>
</mat-card>
</div>
