<mat-card class="container">
  <mat-card-content class="login">
    <div class="h2">Login</div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field>
        <input matInput formControlName="email" type="text" placeholder="Email" required />
        <mat-error>
          *Email Is Required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <span class="password">
          <input matInput formControlName="password" [type]="type" placeholder="Password">
          <button type="button" (click)="hideShowPassword()" class="" style="border:none;">
            <span class="material-icons">{{ eyeIcon }}</span>
          </button>
        </span>
        <mat-error>
          *Password Is Required
        </mat-error>
      </mat-form-field>
      <button (click)="onLogin()" type="submit" class="login-button" mat-raised-button>
        Login
      </button>
      <div class="signup-login">
        Don't an account?
        <a id="forget" routerLink="/signup">Sign Up</a>
      </div>
      <div class="forgot-password">
        Forget your password? <a id="forget" routerLink="/forgot-password">Reset It Here</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<app-warning></app-warning>
